{% extends "base.html" %}

{% block content %}
  <div class="container">
        <a class="button is-info is-large">Registar Pessoas</a> <br> <br>
        <a class="button is-info is-large">Gerir Departamento</a> <br> <br>
        <a class="button is-info is-large">Gerir Faculdade</a> <br> <br>
        <a class="button is-info is-large">Criação Eleição</a> <br> <br>
        <a class="button is-info is-large">Gerir Lista de Candidatos</a> <br> <br>
        <a class="button is-info is-large">Gerir Mesa de Voto</a> <br> <br>
        <a class="button is-info is-large">Alterar propriedades Eleição</a> <br> <br>
        <a class="button is-info is-large">Saber local onde votou cada eleitor</a> <br> <br>
        <a class="button is-info is-large">Consultar detalhes de Elieções passadas</a> <br> <br>
        <a class="button is-info is-large">Votar</a> <br> <br>
  </div>
{% endblock %}
