{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
  {% if type == 1 %}
    <form method="post">
      {% if error %}
        <p>{{ error }}</p>
      {% endif %}
      <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.description) }}
        {{ render_field(form.start_date) }}
        {{ render_field(form.end_date) }}
      </dl>
      <p><input type="submit" value="Create">
    </form>
  {% else %}
    <form method="post">
      {% if error %}
        <p>{{ error }}</p>
      {% endif %}
      <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.description) }}
        {{ render_field(form.start_date) }}
        {{ render_field(form.end_date) }}
        {{ render_field(form.organic_unit) }}
      </dl>
      <p><input type="submit" value="Create">
    </form>
  {% endif %}
{% endblock %}
