{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
  <div class="container has-text-centered" style="margin-top:1.5%">
    <p class="subtitle has-text-centered is-6">REMOVER LISTA DE CANDIDATOS</p>
    <form method="post" style="margin-top:1%">
      <dl>
        {{ render_field(form.list) }}
      </dl>
      <input type="submit" value="Remover" class="button is-primary is-medium" style="margin-top:2%"> <br>
      <a href="{{ url_for('admin') }}" class="button is-link is-medium" style="margin-top:1%">Voltar</a>
    </form>
  </DIV>
{% endblock %}
