{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
  <div class="container has-text-centered" style="margin-top:1.5%">
    {% if option == 1 %}
      <p class="subtitle has-text-centered is-6">CRIAR DEPARTAMENTO</p>
      <form method="post" style="margin-top:1%">
        <dl>
          {{ render_field(form.faculty) }}
          {{ render_field(form.name) }}
        </dl>
        <input type="submit" value="Criar" class="button is-primary is-medium" style="margin-top:2%"> <br>
        <a href="{{ url_for('admin') }}" class="button is-link is-medium" style="margin-top:1%">Voltar</a>
      </form>
    {% elif option == 2 %}
      <p class="subtitle has-text-centered is-6">ESCOLHER DEPARTAMENTO</p>
      <form method="post" style="margin-top:1%">
        <dl>
          {{ render_field(form.department) }}
        </dl>
        <input type="submit" value="Escolher" class="button is-primary is-medium" style="margin-top:2%"> <br>
        <a href="{{ url_for('admin') }}" class="button is-link is-medium" style="margin-top:1%">Voltar</a>
      </form>
    {% elif option == 3 %}
      <p class="subtitle has-text-centered is-6">CRIAR DEPARTAMENTO</p>
      <form method="post" style="margin-top:1%">
        <dl>
          {{ render_field(form.faculty) }}
          {{ render_field(form.name) }}
          {% if error %}
            <p>{{ error }}</p>
          {% endif %}
        </dl>
        <input type="submit" value="Alterar" class="button is-primary is-medium" style="margin-top:2%"> <br>
        <a href="{{ url_for('admin') }}" class="button is-link is-medium" style="margin-top:1%">Voltar</a>
      </form>
    {% else %}
      <p class="subtitle has-text-centered is-6">REMOVER DEPARTAMENTO</p>
      <form method="post" style="margin-top:1%">
        <dl>
          {{ render_field(form.department) }}
        </dl>
        <input type="submit" value="Remover" class="button is-primary is-medium" style="margin-top:2%"> <br>
        <a href="{{ url_for('admin') }}" class="button is-link is-medium" style="margin-top:1%">Voltar</a>
      </form>
    {% endif %}
  </div>
{% endblock %}
