{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
  {% if option == 1 %}
    <div class="container has-text-centered" style="margin-top:1.5%">
      <p class="subtitle has-text-centered is-6">CRIAR FACULDADE</p>
      <form method="post">
        <dl>
          {{ render_field(form.name) }}
        </dl>
        <input type="submit" value="Criar" class="button is-primary is-medium" style="margin-top:2%"> <br>
        <a href="{{ url_for('admin') }}" class="button is-link is-medium" style="margin-top:1%">Voltar</a>
      </form>
    </div>
  {% elif option == 2 %}
    <div class="container has-text-centered" style="margin-top:1.5%">
      <p class="subtitle has-text-centered is-6">ALTERAR FACULDADE</p>
      <form method="post">
        <dl>
          {{ render_field(form.faculty) }}
          {{ render_field(form.new_name) }}
        </dl>
        <input type="submit" value="Alterar" class="button is-primary is-medium" style="margin-top:2%"> <br>
        <a href="{{ url_for('admin') }}" class="button is-link is-medium" style="margin-top:1%">Voltar</a>
      </form>
    </div>
  {% else %}
    <div class="container has-text-centered" style="margin-top:1.5%">
      <p class="subtitle has-text-centered is-6">REMOVER FACULDADE</p>
      <form method="post">
        <dl>
          {{ render_field(form.faculty) }}
        </dl>
        <input type="submit" value="Remover" class="button is-primary is-medium" style="margin-top:2%"> <br>
        <a href="{{ url_for('admin') }}" class="button is-link is-medium" style="margin-top:1%">Voltar</a>
      </form>
    </div>
  {% endif %}

{% endblock %}
