{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
  <div class="container has-text-centered" style="margin-top:1.5%">
    <p class="subtitle has-text-centered is-6">LOGIN DE ADMINISTRADOR</p>
    <form method="post">
      <dl>
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
      </dl>
      <input type="submit" value="Login" class="button is-primary is-medium" style="margin-top:2%"> <br>
    </form>
    {% if error %}
      <p class="error" style="margin-top:2%"><strong>Error:</strong> {{ error }}
    {% endif %}
  </div>
{% endblock %}
