{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
  <form method="post">
    <dl>
      {{ render_field(form.name) }}
      {{ render_field(form.organic_unit) }}
      {{ render_field(form.password) }}
      {{ render_field(form.contact) }}
      {{ render_field(form.address) }}
      {{ render_field(form.cc) }}
      {{ render_field(form.end_date) }}
      {{ render_field(form.type) }}
    </dl>
    <p><input type="submit" value="Register">
  </form>
{% endblock %}
